body {
    background-image: linear-gradient(in hsl longer hue, red, red);
    height:100vh;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateX(1deg) rotateY(1deg) rotateZ(1deg);
}

button {
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    border-color: white;
    border-style: solid;
}

button:hover {
    border-color: blue;
    color: blue;
}
